<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="">
<head>
    <title>Spring MVC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/">Home</a>
    <h1>Add Person</h1>
    <form action="#" th:action="@{/people}" th:object="${person}" method="post">
        <p>
            Name: <label> <input type="text" th:field="*{name}" /> </label> <br> <span
                class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </p>
        <p>
            Email: <label> <input type="text" th:field="*{email}"/> </label> <br> <span
                class="validationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </p>
        <p>
            Age: <label> <input type="text" th:field="*{age}"/> </label> <br> <span
                class="validationError" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name</span>
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>
    </form>
</body>
</html>